@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SQL can be confusing yet necessary for regular business operations. My goal here is to create a system by which my team can ask questions of Stripe in a clearer way for a non-SQL fluent person and to store those questions and SQL code in a secured location to reference at a later date.</p>
