@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1125 E Brookside Ave, Suite B3<br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    814.490.5641
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Richard@sndspc.com">Richard@sndspc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:team@sndspc.com">team@sndspc.com</a>
</address>