@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stripe SQL Translator</h1>
    <p class="lead">This application's intent is to help translate simple questions into SQL queries to be used in conjunction with Stripe's Sigma SQL application for business billing.</p>
    <p><a href="https://localhost:44335/Questions" class="btn btn-primary btn-lg">Access Main List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ask A Question</h2>
        <p>
            Click here and fill out the form to ask your question related to your business Stripe account. As an example - "What is our monthly churn for our "Connect" membership?"
        </p>
        <p><a class="btn btn-default" href="https://localhost:44335/Questions/Create">Ask Question &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pick a Date Range</h2>
        <p>Click here and fill out the form to select a date range and attach it to a question.</p>
        <p><a class="btn btn-default" href="https://localhost:44335/DateRanges/Create">Set A Date Range &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submit SQL Code</h2>
        <p>This button is reserved for SQL coders to answer questions with SQL to be used in Stripe Sigma. Ideally, future functionality will be able to submit a question and its SQL code directly to Stripe by POST request.</p>
        <p><a class="btn btn-default" href="https://localhost:44335/SQLCodes/Create">Submit SQL &raquo;</a></p>
    </div>
</div>